<div class="container">
  <div class="row">
    <div class="col-md-8" style="background-color: #35B0D5;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
            &nbsp &nbsp &nbsp  选修课程
      </div>

    </div>
    
    
<div class="col-md-4">
      <h2>选课学分提示：</h2>
      <p>              </p>
      <p>硕士生申请硕士学位前，总学分应不低于35学分。包括课程学习30学分和必修环节5学分。其中学位课学分不低于18学分，其中公共学位课6学分，专业学位课不低于12学分
。非学位课中公共选修课不低于2学分。 </p>
<p>硕博生与直博生申请博士学位前，总学分应不低于42学分。包括课程学习37学分和必修环节5学分。其中学位课学分不低于25学分，其中公共学位课7学分，专业学位课不低于16学分
。非学位课中公共选修课不低于2学分。  </p>
        <a class="btn btn-info pull-right"" href="http://www.ucas.ac.cn">了解更多</a>
    </div>
<!--<div class="htmleaf-container">
  <div class="container mp30">
    <div class="row">
      <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>学院信息</b></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <ul class="demo1">
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://math.ucas.ac.cn/index.php/zh-CN/">数学科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://physics.ucas.ac.cn/index.php/zh-CN/">物理科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td> <a href="http://astro.ucas.ac.cn/">天文与空间科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://eng.ucas.ac.cn/">工程科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://ai.ucas.ac.cn/index.php/zh-cn/">人工智能技术学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td> <a href="http://chem.ucas.ac.cn/">化学科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://sft.ucas.ac.cn/zh-cn/">未来技术学院</a></td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>-->
</div>
  
  <hr>







<body>
    
    <div class="col-md-4" style="margin-top: 5px;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>学院信息</b></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <ul class="demo1">
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://math.ucas.ac.cn/index.php/zh-CN/">数学科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://physics.ucas.ac.cn/index.php/zh-CN/">物理科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td> <a href="http://astro.ucas.ac.cn/">天文与空间科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://eng.ucas.ac.cn/">工程科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://ai.ucas.ac.cn/index.php/zh-cn/">人工智能技术学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td> <a href="http://chem.ucas.ac.cn/">化学科学学院</a></td>
                      </tr>
                    </table>
                  </li>
                  <li class="news-item">
                    <table cellpadding="4">
                      <tr>
                        <td><a href="http://sft.ucas.ac.cn/zh-cn/">未来技术学院</a></td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  

   <!-- <div class="col-md-4">
      <h2>选课学分小贴士：</h2>
      <p>              </p>
      <p>硕士生申请硕士学位前，总学分应不低于35学分。包括课程学习30学分和必修环节5学分。其中学位课学分不低于18学分，其中公共学位课6学分，专业学位课不低于12学分
。非学位课中公共选修课不低于2学分。 </p>
<p>硕博生与直博生申请博士学位前，总学分应不低于42学分。包括课程学习37学分和必修环节5学分。其中学位课学分不低于25学分，其中公共学位课7学分，专业学位课不低于16学分
。非学位课中公共选修课不低于2学分。  </p>
      <a class="btn btn-info" href="http://www.ucas.ac.cn">更多</a>
    </div>-->
<div class="htmleaf-container">
   
    <div class="Hleft: 1000px" style="width: 1500px">

      <div class="container mp10">
        <div class="row">


        <div class="table-responsive col-md-8" style="margin-top: 5px;">
          <table  cellspacing="0" cellpadding="0"  border="0" class="table" style="table-layout:fixed">
            <tr class=" label-primary">
              <th scope="col" width="75%" ><span style="color:white">公告列表</span></th>
              <th scope="col" class="center"><span style="color:white;">最后更新时间</span></th>
            </tr>
            <% @announcement.each do |announcement| %>
                <tr style="border-bottom: 1px solid #CCCCCC">
                  <td> <%= link_to announcement.title,{:controller => 'homes', :action => 'inform_content', :request => announcement.title} %></td>
                  <td align="center"><%= announcement.updated_at.to_date%></td>
                </tr>
            <% end %>
          </table>
        </div>
      
      </div>
   </div>
  </div>

  
  
  
  
</div>


<script src="inform.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function () {
    $(".demo1").bootstrapNews({
      newsPerPage: 8,
      autoplay: true,
      pauseOnHover:true,
      direction: 'up',
      newsTickerInterval: 1000,
      onToDo: function () {
        //console.log(this);
      }
    });

    $(".demo2").bootstrapNews({
      newsPerPage: 8,
      autoplay: true,
      pauseOnHover: true,
      navigation: false,
      direction: 'down',
      newsTickerInterval: 1500,
      onToDo: function () {
        //console.log(this);
      }
    });

    $("#demo3").bootstrapNews({
      newsPerPage: 4,
      autoplay: false,

      onToDo: function () {
        //console.log(this);
      }
    });
  });
</script>




</body>
