<div class="navbar navbar-fixed-bottom">
  <footer class="container-fluid">
    <p class="text-center" style="margin-bottom: 0px">中国科学院大学版权所有 © 2017
      软件工程: 祁宝莲 葛昕钰 贺金龙
    </p>
  </footer>
</div>
